html
    body
        center
            label #{message}
            br
            form(action = "/signup" method = "post")
                table
                    tr
                        td
                            label Registration number: 
                        td
                            input(type = "text" name = "regno")
                    tr
                        td 
                            label Name: 
                        td
                            input(type = "text" name = "studname")
                    tr
                        td
                            label Password:
                        td
                            input(type = "password" name = "password")
                button.btn.btn-primary(type='submit') Sign-up