<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Add student</title>
</head>
<body>
    <table>
        <form id="addStudent" name="addStduent">
            <tr>
                <td>Name:</td>
                <td><input type="text" id="studName" name="studName"></td>
            </tr>
            <tr>
                <td>Register number:</td>
                <td><input type="text" id="regno" name="regno"></td>
            </tr>
            <tr>
                <td>Course 1:</td>
                <td><input type="text" id="c1" name="c1"></td>
            </tr>
            <tr>
                <td>Course 2:</td>
                <td><input type="text" id="c2" name="c2"></td>
            </tr>
            <tr>
                <td>Course 3:</td>
                <td><input type="text" id="c3" name="c3"></td>
            </tr>
        </form>
    </table>
</body>
</html>